.btn {
     background: transparent;
     border: none;
     border-radius: 3px;
     outline: none;
     font: inherit;
     color: antiquewhite;
     margin: 10px;
     padding: 10px;
     cursor: pointer;
}

.success {
     background-color: forestgreen;
}

.danger {
     background-color: orangered;
}

.form{
     background-color:  #dc143c;
}
