.input {
     width: 100%;
     padding: 10px;
     box-sizing: border-box;
}

.inputElement {
     outline: none;
     border: 1px solid #fad1f0;
     background: #fff;
     font: inherit;
     padding: 6px;
     display: block;
     width: 100%;
     box-sizing: border-box;
     border-radius: 3px;
}

.notValid{
     border: 1px solid red
}